* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%); /* Cor, Saturação, Luz*/

  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0; /* Top, Right, Bottom, Left  ou Top, Sides, Bottom*/

  position: relative; /* Se torna o parametro para o avatar span*/
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;

  /* Não deixar a imagem esticada*/
  object-fit: cover;

  /* Formatar o hexagono da foto */
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  /* Deixar na mesma reta */
  display: flex;

  /* Diredcionamento do eixo principal
    flex-direction: column;
    */

  /* Espaço entre elementos */
  gap: 0.5rem;

  /* Alinhamento */
  justify-content: center;
}
